<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="nl.viasalix.horarium.module.calvijncollege.cup">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_calvijncollege_cup">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher">

        <activity android:name=".ui.setup.CalvijnCollegeCUPSetup"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
